@import "_/variables";
@import "_/mixins";
@import "_/classes";

.card-block {

  .swiper-button-prev {
    left: 15px;
  }

  .swiper-button-next {
    right: 15px;

    svg {
      transform: rotate(180deg);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    @extend .sky-gradient;
    border-radius: 50%;
    z-index: 1;
    top: calc(50% - 20px);
    cursor: pointer;

    svg {
      height: 13px;
      width: 13px;
    }
  }

  .columns {
    @include respond($mobile) {
      display: flex;
    }
  }

  .column:first-child {
    max-width: 587px;
    width: 100%;
  }

  .column:last-child {
    @include respond(1366px) {
      padding-left: 102px;
    }
    @include respond($mobile, 1366px) {
      padding-left: 35px;
    }
    @include respond(0, $mobile) {
      padding-top: 30px;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;

    @include respond($mobile) {
      font-size: 30px;
    }
    @include respond(0, $mobile) {
      font-size: 24px;
    }
  }

  .card-slider {
    width: 100%;
    background: $white;
    box-shadow: 2px 1px 9px rgba(180, 180, 180, 0.05), 0 3px 21px rgba(113, 113, 113, 0.05);

    @include respond($mobile) {
      height: 400px;
    }
    @include respond(700px, $mobile) {
      height: 340px;
    }
    @include respond(0, 700px) {
      height: 240px;
    }
  }

  .button-kp {
    max-width: 226px;
  }

  .description-headline {
    font-style: normal;
    font-weight: bold;
    @include respond($mobile) {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @include respond(0, $mobile) {
      font-size: 24px;
      margin-bottom: 22px;
    }
    line-height: 130%;
    letter-spacing: 0.02em;
  }

  .card-description {
    @include respond($mobile) {
      padding-top: 52px;
      font-size: 21px;
    }
    @include respond(0, $mobile) {
      padding-top: 30px;
      font-size: 16px;
    }
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.02em;

    ol {
      list-style: none;
      counter-reset: ol;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        counter-increment: ol;
        font-style: normal;
        font-weight: 300;
        @include respond($mobile) {
          font-size: 21px;
          padding-left: 40px;
        }
        @include respond(0, $mobile) {
          font-size: 16px;
          padding-left: 32px;
        }
        line-height: 175%;
        letter-spacing: 0.02em;

        &:before {
          content: "0" counter(ol);
          position: absolute;
          left: 0;
          font-weight: 600;
          @extend .sky-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    p {
      margin-bottom: 34px;
    }
  }

  .card-image {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

.black-svg {
  svg {
    fill: $black;
  }
}

.card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  @include respond($mobile) {
    padding-top: 19px;
    margin-bottom: 50px;
  }
  @include respond(0, $mobile) {
    padding-top: 5px;
    margin-bottom: 25px;
  }
}

.button-kp {
  &:hover {
    svg {
      transform: translateX(5px);
    }
  }
  svg {
    transition: transform 200ms ease;
    margin-left: 8px;
  }
}

.brand-link {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  display: block;
  line-height: 150%;
  letter-spacing: 0.02em;
  @extend .sky-gradient;
  padding: 12px 0 12px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
