@import "_/variables";
@import "_/mixins";
@import "_/classes";

.catalog-block {

  .grid {
    display: grid;
    grid-gap: 24px;
    margin-top: 40px;

    @include respond($mobile) {
      grid-template-columns: 1fr 1fr;
    }

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: $gray;
    }

    .image {
      @include respond($mobile) {
        min-height: 218px;
      }

      img {
        max-width: 100%;
      }
    }

    .detail-link {
      margin-top: auto;
    }

    .categories {
      padding: 12px 0;

      a {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: $black;
        text-decoration: none;
        transition: color $time ease;

        &:hover {
          color: #43A7E0;
        }
      }
    }

    .item {
      background: $white;
      box-shadow: 2px 7px 12px rgba(180, 180, 180, 0.15), 0 15px 25px rgba(113, 113, 113, 0.05);
      transition: box-shadow $time ease;
      display: flex;
      flex-direction: column;

      @include respond($mobile) {
        min-height: 472px;
        padding: 40px;
      }
      @include respond(0, $mobile) {
        padding: 20px;
      }

      &:hover {
        box-shadow: 17px 36px 28px rgba(193, 193, 193, 0.23), 0 6px 25px rgba(113, 113, 113, 0.14);
      }

    }
  }
}
