@import "_/variables";
@import "_/mixins";
@import "_/classes";

.manufacturer-block {

  .manufacturer-logo {
    margin: 30px 0 24px 0;
  }

  .manufacturer-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: $black;
    margin-bottom: 80px;

    p {
      margin-bottom: 28px;
    }
  }

  .selectric-wrapper {
    margin-top: 40px;
  }

  .select {
    position: relative;

    svg {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

}
