.flex-align-center {
  display: flex;
  align-items: center;
}

.pure-button {
  background: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}

.sky-gradient {
  background: linear-gradient(180deg, #0070CB 0.01%, #0D91D8 58.32%, #43A7E0 100%);
}
