$container-width: 1200px;
$container-padding: 15px;
$white: #fff;
$black: #181200;
$link: #464131;
$default-font: 'Gilroy', sans-serif;
$mobile: 1024px;
$burger-line-height: 2px;
$nav: #fffdf3;
$nav-active: #0070cb;
$time: 250ms;
$gray: #51482e;
$policy-link: #d7d7d7;
$shop-color: #716B59;
$news-color: #51504f;
$service-color: #483600;
$light-gray: #f2f2f2;
$form: #fcfcfc;
$form-link: #464132;
$feedback-input: #f6f7f9;
